 .carrousel_parent-ecrans {
     display: flex;
     width: 100%;
     overflow-x: scroll;
     scroll-behavior: smooth;
     scroll-snap-type: x mandatory;
     margin-bottom: 20px;
 }

 .carrousel_ecran {
     width: 100%;
     flex: none;
     scroll-snap-align: start;
     display: grid;
     place-items: center;
 }

 .carrousel_ecran figure {
     margin: 0;
 }

 .carrousel {
     position: relative;
     max-width: 500px;
     margin: auto;
     padding-top: var(--space4x);
 }

 .carrousel_btn {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     width: 2rem;
     height: 2rem;
     background: rgba(0, 0, 0, 0.5);
     border-radius: 50%;
     border: none;
     display: grid;
     place-content: center;
     color: #fff;
 }

 .carrousel_btn-avant {
     left: 0;
 }

 .carrousel_btn-apres {
     right: 0;
 }

 .carrousel_ecran_img {
     width: 500px;
     max-width: 100%;
     border-radius: 10px;
 }

 figcaption {
     text-align: center;
     font-size: var(--heading-3);
     font-family: var(--font-website);
     font-weight: 500;
     color: var(--black);
     text-align: center;
     padding-bottom: var(--space2x);
 }